.img_ferramentas{
    img{
        width: 90px;
    }
}
p{
    text-align: justify;
}

.logo_correios{
    img{
        border: 10px solid FFD400; 
        border-radius: 10%;
        width: 40%;
    }
}

.personas{
    img{
        width: 150px;
    }
    figcaption {
        font-style: normal;
        font-size: 12px;
        font-weight: normal;
    }
    th:first-child {
        align-content: center;
    }
    td:first-child {
        align-content: center;
    }
}
:root {
    --md-accent-fg-color:        #FFD400;
    --md-accent-fg-color--light: #FFD400;
    --md-accent-fg-color--dark:  #CD992B;
  }

